.decklist-header {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.decklist-header>input {
    flex-basis: 90%;
}

@media (min-width: 768px) {
    .decklist-header {
        justify-content: space-between;
    }
    
    .decklist-header>input {
        flex-basis: 30%;
    }
}