.number-input{
    background-color: transparent;
    color: hsl(var(--clr-dark-1));
    border: 1px solid hsl(var(--clr-dark-1));
    border-radius: 0.5rem;
    padding: 1.5rem;
    width: 100%
}

.number-input:focus{
    outline: solid 1px hsl(var(--clr-dark-1));
}

.number-input::-webkit-inner-spin-button,
.number-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

.input-container{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    gap:0.53rem;
}

.button-row{
    position: absolute;
    top:5%;
    right: 0.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.21rem;
}

