/* ----------------- */
/* Custom Properties */
/* ----------------- */

:root{
    /* colors */
    /* 
        white - #EAEBE6
        light-1 - #F1E0D9
        light-2 - #DED6C3
        dark-1 - #BA7275
        dark-2 - #C4957B 
    */
    --clr-dark-1: 358 34% 59%;
    --clr-dark-2: 21 38% 53%;
    --clr-light-1: 18 21% 90%;
    --clr-light-2: 42 30% 87%;
    --clr-light-3: 42 20% 87%;
    --clr-white: 72 11% 91%;
    --clr-black: 0 0% 33%;
    --clr-error-dark: 0 79% 63%;
    --clr-success-dark: 184 48% 44%;
    --clr-info-dark: 204 55% 45%;
    --clr-error-light: 358 71% 93%;
    --clr-success-light: 186 50% 96%;
    --clr-info-light: 210 75% 96%;

    /* font-sizes */
    --fs-800: 3rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.5rem;
    --fs-450: 1rem;  
    --fs-425: 0.95rem;
    --fs-400: 0.95rem;
    --fs-350: 0.70rem;

    /* font-families */
    /* --ff-serif: "Emilys Candy", serif;
    --ff-sans: "Winky Sans", sans-serif; */
    --ff-serif: "Source Serif 4", serif;
    --ff-sans: "Source Sans 3", sans-serif;
}

@media (min-width:768px) {
    :root{
        --fs-800: 5rem;
        --fs-700: 4rem;
        --fs-600: 3rem;
        --fs-500: 2rem;
        --fs-450: 1.50rem;  
        --fs-425: 1.25rem;
        --fs-400: 1rem;
        --fs-350: 0.85rem;
    }

    
}
/* ----------------- */
/* Reset             */
/* ----------------- */

*,
*::before,
*::after{
    box-sizing: border-box;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 400;
}

body,
p,
h1,
h2,
h3,
h4,
h5, 
picture, 
figure{
    margin:0;
}

body{
    min-height: 100vh;
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    color:hsl(var(--clr-dark-1));
    background-color: hsl(var(--clr-light-2));
}

img, 
picture{
    width: 100%;
    display:block;
}

input, 
button, 
textarea, 
select{
    font:inherit;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

.Toastify__toast--error {
    border: 1px solid hsl(var(--clr-error-dark)) !important;
    background: hsl(var(--clr-error-light)) !important;
}

.Toastify__toast--success {
    border: 1px solid hsl(var(--clr-success-dark)) !important;
    background: hsl(var(--clr-success-light)) !important;
}

.Toastify__toast--info{
    border: 1px solid hsl(var(--clr-info-dark)) !important;
    background: hsl(var(--clr-info-light)) !important;
}

.Toastify__close-button {
    color: hsl(var(--clr-white));
}

@media (prefers-reduced-motion: reduce){
    *,
    *::before,
    *::after{
        animation-duration: 0.01ms;
        animation-iteration-count: 1;
        transition-duration: 0.01ms;
        scroll-behavior: auto;
    }

}

/* ----------------- */
/* Utility Classes   */
/* ----------------- */

/* General */
.d-none{
    opacity:0;
    height: 2px; 
    width: 1px;
}

/* flex */
.flex-row, .flex-column{ display: flex; }
.flex-column{ flex-direction: column; }
.justify-center{ justify-content: center; }
.justify-space-between{ justify-content: space-between; }
.align-center{ align-items: center; }
.justify-self-start{ justify-self: flex-start; }
.align-self-start{ align-self: flex-start; }
.align-self-end{ align-self: flex-end; }
.align-self-center{ align-self: center; }

/* grid */
.grid-responsive{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
}

/* check if to be removed in future */
.grid-2-col{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 768px) {
    .grid-2-col{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* all */
.flex-row, .flex-column, .grid-2-col, .grid-3-col{
    gap: var(--gap, 0.72rem);
}

/* containers */
.container-center{
    border-radius: 0.2rem;
    margin: auto;
    padding: 1rem;
}

.container{
    border-radius: 0.5rem;
    padding: 1rem;
    transition: transform ease-in 0.2s;
}

.hover{ transition: transform ease-in 0.2s; }

.hover:hover{ transform: scale(1.02); }

.flex-container-center{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: var(--gap, 1rem);
    border-radius: 0.2rem;
}

.box-shadow{
    box-shadow: 5px 5px 10px 5px hsl(var(--clr-light-3));
}

/* height */
.min-height-100vh{ min-height: 100vh; }
.min-height-70vh{ min-height: 70vh; }
/* width */
.width-100{ width: 100%; }
.width-responsive{ width: 100%; }

@media (min-width: 768px) {
    .width-responsive{
        width: 50%;
    }
}

/* padding */
.padding-03{ padding: 0.3rem; }
.padding-05{ padding: 0.5rem; }

.padding-1{ padding: 1rem; }
.padding-2{ padding: 2rem; }
.padding-inline-2{ padding-inline: 2rem; }
.padding-top-07{ padding-top: 0.7rem; }
.padding-bottom-07{ padding-bottom: 0.7rem;}
/* margin */
.mt-7{ margin-top: 7rem; }
.mt-5{ margin-top: 5rem; }
.mt-2{ margin-top: 2rem; }
.mt-1{ margin-top: 1rem; }
.mb-2{ margin-bottom: 2rem; }
.mb-05{ margin-bottom: 0.5rem; }
.mb-1{ margin-bottom: 1rem; }
.m-02{ margin: 0.2rem; }

.fixed-top{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
}

.fixed-bottom{
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
}

.full-screen{
    width: 100%;
    height: 100vh;
}

/* used to describe elements that do not have any text, such as an icon to people using a screen reader */
.sr-only{
    position: absolute;
    width:1px;
    height: 1px;
    padding:0;
    margin:-1px;
    overflow:hidden;
    white-space: nowrap;
    border: 0;
}

/* Colors */
.bg-dark-1{ background-color: hsl(var(--clr-dark-1)); }
.bg-dark-2{ background-color: hsl(var(--clr-dark-2)); }
.bg-dark-2-trans50{ background-color: hsl(var(--clr-dark-2) / 50%); }

.bg-light-1{ background-color: hsl(var(--clr-light-1)); }
.bg-light-2{ background-color: hsl(var(--clr-light-2)); }
.bg-light-2-trans50{ background-color: hsl(var(--clr-light-2) / 70%); }
.bg-light-3{ background-color: hsl(var(--clr-light-3)); }

.bg-white{ background-color: hsl(var(--clr-white)); }
.bg-white-trans{ background-color: hsl(var(--clr-white) / 70%); }

.bg-error-dark{ background-color: hsl(var(--clr-error-dark)); }
.bg-success-dark{ background-color: hsl(var(--clr-success-dark)); }
.bg-info-dark{ background-color: hsl(var(--clr-info-dark)); }
.bg-error-light{ background-color: hsl(var(--clr-error-light)); }
.bg-success-light{ background-color: hsl(var(--clr-success-light)); }
.bg-info-light{ background-color: hsl(var(--clr-info-light)); }

.bg-trans{ background-color: transparent; }

.text-dark-1{ color: hsl(var(--clr-dark-1)); }
.text-dark-2{ color: hsl(var(--clr-dark-2)); }
.text-dark-2-trans50{ color: hsl(var(--clr-dark-2) / 45%); }
.text-dark-1-trans50{ color: hsl(var(--clr-dark-1) / 45%); }

.text-light-1{ color: hsl(var(--clr-light-1)); }
.text-light-2{ color: hsl(var(--clr-light-2)); }
.text-light-3{ color: hsl(var(--clr-light-3)); }
.text-white{ color: hsl(var(--clr-white)); }
.text-white-trans{ color: hsl(var(--clr-white) / 70%); }

.text-black{ color: hsl(var(--clr-black)); }

.text-error-dark{ color: hsl(var(--clr-error-dark)); }
.text-success-dark{ color: hsl(var(--clr-success-dark)); }
.text-info-dark{ color: hsl(var(--clr-info-dark)); }
.text-error-light{ color: hsl(var(--clr-error-light)); }
.text-success-light{ color: hsl(var(--clr-success-light)); }
.text-info-light{ color: hsl(var(--clr-info-light)); }

/* font-size */
.fs-350{ font-size: var(--fs-350);}
.fs-400{ font-size: var(--fs-400);}
.fs-425{ font-size: var(--fs-425);}
.fs-450{ font-size: var(--fs-450);}
.fs-500{ font-size: var(--fs-500);}
.fs-600{ font-size: var(--fs-600);}
.fs-700{ font-size: var(--fs-700);}
.fs-800{ font-size: var(--fs-800);}

/* font-weight */
.fw-150{ font-weight: 150; }
.fw-200{ font-weight: 200; }
.fw-350{ font-weight: 350; }
.fw-500{ font-weight: 500; }

/* italic */
.italic { font-style: italic;}

/* font-family */
.ff-sans{ font-family: var(--ff-sans); }
.ff-serif{ font-family: var(--ff-serif); }

/* letter spacing */
.letter-spacing-1{ letter-spacing: 4.75px; }
.letter-spacing-2{ letter-spacing: 2.7px; }
.letter-spacing-3{ letter-spacing: 2.35px; }

/* text-transform */
.uppercase{ text-transform: uppercase; }
.titlecase{ text-transform: capitalize;}

/* text-alignment */
.text-center{ text-align: center; }

/* borders */
.border-top-dark-1{ border-top: solid 1px hsl(var(--clr-dark-1)); }
.border-bottom-dark-2{ border-bottom: solid 1px hsl(var(--clr-dark-2)); }
.border-bottom-white{ border-bottom: solid 1px hsl(var(--clr-white)); }

.border-bottom-dark-2-trans50{ border-bottom: solid 1px hsl(var(--clr-dark-2) / 50%);}
.border-dark-1{ border: solid 1px hsl(var(--clr-dark-1)); }
.border-dark-2{ border: solid 1px hsl(var(--clr-dark-2)); }
.border-dark-2-trans50{ border: solid 1px hsl(var(--clr-dark-2) / 50%); }
.border-top-dark-2-trans50{ border-top: solid 1px hsl(var(--clr-dark-2) / 50%); }
.border-light-2{ border: solid 1px hsl(var(--clr-light-2)); }
.border-light-3{ border: solid 1px hsl(var(--clr-light-3)); }
.border-trans{ border: solid 1px transparent; }
.border-none{ border: none}
.border-radius-05{ border-radius: 0.5rem; }

/* ----------------- */
/* Components        */
/* ----------------- */

.large-button{
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 2rem;
    transition: 0.2s ease-in transform;
}

.small-button{
    padding: 0.7rem;
    border-radius: 0.5rem;
    transition: 0.2s ease-in transform;
}

.icon-button{
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s ease-in transform;
    padding-block: 0.3rem;
    padding-inline: 0.5rem;
}

.icon-button > span{
    font-size: var(--fs-400);
    transition: color 0.2s ease-in;
}

.small-button:not(:disabled):hover, .large-button:not(:disabled):hover{
    cursor: pointer;
    transform: scale(1.025);
}

.small-button:not(:disabled):focus, .large-button:not(:disabled):focus, .icon-button:not(:disabled):focus{
    transform: scale(1.025);
    outline: solid 1px hsl(var(--clr-dark-1));
}

.textbox-large{
    color: hsl(var(--clr-dark-1));
    border-radius: 1rem;
    border: hsl(var(--clr-dark-1)) solid 1px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.textbox, .dropdown{
    background-color: hsl(var(--clr-light-1));
    color: hsl(var(--clr-dark-1));
    border-radius: 0.3rem;
    border: hsl(var(--clr-dark-1)) solid 1px;
    padding: 0.5rem;
}

.textbox:focus, .dropdown:focus, .textbox-large:focus{
    outline: hsl(var(--clr-dark-1)) solid 1px;
}

.textbox::placeholder, .textbox-large::placeholder{
    color:hsl(var(--clr-dark-1)/50%);
}

.dropdown option:hover{
    background-color: hsl(var(--clr-dark-2));
}

.large-textarea{
    background-color: transparent;
    color: hsl(var(--clr-dark-1));
    border: 1px solid hsl(var(--clr-dark-1));
    border-radius: 0.5rem;
    resize: vertical;
    min-height: 200px;
    max-height: 200px;
    padding: 1rem;
    width: 100%;
}

.large-textarea::placeholder{
    color: hsl(var(--clr-dark-1) / 50%);
}

.large-textarea:focus{
    outline: solid 1px hsl(var(--clr-dark-1));
}

.large-textarea::-webkit-scrollbar{
    width: 0.2rem;
}

.large-textarea::-webkit-scrollbar-track{
    background-color: hsl(var(--clr-light-1));
    border-radius: 1rem;
}

.large-textarea::-webkit-scrollbar-thumb {
    background-color: hsl(var(--clr-dark-1) / 70%);
    border-radius:0.2rem;
}

.large-textarea{
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--clr-dark-1) / 70%)  hsl(var(--clr-light-1));
}

input[type="checkbox"] + .checkmark {
  background-color: hsl(var(--clr-white));
}

input[type="checkbox"]:checked + .checkmark {
  background-color: hsl(var(--clr-dark-1) / 20%);
}

.checkmark {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid hsl(var(--clr-dark-1));
    height: 15px;
    width: 15px;
    border-radius: 0.2rem;
    margin-right: 0.4rem;
}

input[type="checkbox"]:checked + .checkmark::after{
    content: "";   
    display: block;
    width: 15px;
    height: 15px;
    background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 16 16" fill="%23BA7275" xmlns="http://www.w3.org/2000/svg"><path d="M6 10.8L3.2 8l-1.2 1.2L6 13.2l8-8-1.2-1.2z"/></svg>');
}