.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    min-height: 100vh
}

.steps-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.spinny-loader{
    border: 2px solid hsl(var(--clr-white));
    border-radius: 100%;
    height: 30px;
    aspect-ratio: 1;
    border-left: 2px solid hsl(var(--clr-dark-2));
    animation: spinny-loader 0.5s linear infinite;
}

@keyframes spinny-loader {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
    
}
@media (min-width: 768px) {
    .hero-container{
        width: 60%;
    }
    .steps-container{
        grid-template-columns: repeat(3, 1fr);
    }
}