.question-types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    border: 1px solid hsl(var(--clr-dark-1));
    padding: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
}